#callout_field_area .inner {
	display: none;
}

#callout_field_area .matrix_list .inner {
	display: block;
}

#callout_field_area .matrix_entry_fields {
	background: transparent;
	border: none;
	padding: 0;
}

#callout_field_area .matrix_collapse {
	display: none;
}

#callout_field_area .matrix_entry_fields .matrix_entry_fields {
	background: rgba(0, 0, 0, 0.02);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 15px 10px;
}

#callout_field_area .matrix_entry_fields .matrix_entry_fields .matrix_collapse {
	display: inline-block;
}
